
<html>
    <head>
        <title>Insert title here</title>
    </head>
	<body>
	    <table class="levels-table-template">
	        <tr>
	            <td>&#160;</td>
	            <td colspan="6">Levels</td>
	        </tr>
	        
	        <tr>
	            <td>&#160;</td>
	            <td colspan="2">Local</td>
	            <td colspan="2">National</td>
	            <td colspan="2">International</td>
	        </tr>
	        
	        <tr>
	            <td>Causes</td>
	            <td>(I)</td>
	            <td>(E)</td>
	            <td>(I)</td>
	            <td>(E)</td>
	            <td>(I)</td>
	            <td>(E)</td>
	        </tr>
	        
	        <tr>
	            <td class='levels-table-sourcerow'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	            <td class='levels-box' data-level='0'>&#160;</td>
	        </tr>
	    </table>
	</body>
</html>

