
<html>
    <head>
        <title>Insert title here</title>
    </head>
	<body>
	    <table class="actors-profile-template">
	       <tr>
	           <td colspan="2">&#160;</td>
	           <td colspan="2">
	               <div class="exe-editable" id="alpnlo__IDEVICEID__">
	                   Level Of
	               </div>
	               
	           </td>
	       </tr>
	        <tr class='actors-profile-header-tr'>
	            <td>
	               <div id="alpna__IDEVICEID__" class="exe-editable">
	                   Actor
	               </div>
	            </td>
	            <td class="actors-role-header-td">
	               <div id="alpnr__IDEVICEID__" class="exe-editable">
                       Role in Agricultural Sector
                   </div>
                </td>
                
	            <td class='actors-profile-levelcol' data-block-id='0'>
	               <div class='actors-profile-level-name exe-editable' id="apln___IDEVICEID___0">Power</div>
	            </td>
	            <td class='actors-profile-levelcol' data-block-id='1'>
	               <div class='actors-profile-level-name exe-editable' id="apln___IDEVICEID___1">Interest</div>
                </td>
	        </tr>
	    </table>
	</body>
</html>

